* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #718096;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 1024px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.header,
.content .left-column,
.content .right-column {
  padding: 1rem 3rem;
}

.header {
  background-color: #4a5568;
  color: #ffffff;
}

.header h1 {
  font-weight: normal;
}
.header h2 {
  font-weight: lighter;
}

.content {
  display: flex;
  flex-direction: row;
}

.content .left-column,
.content .right-column {
  padding-top: 1.5rem;
}

.content .statement {
  font-weight: lighter;
  margin-bottom: 1.5rem;
  font-size: 0.7rem;
}
.content .education,
.content .contact {
  margin-bottom: 1rem;
}

.content .left-column .item {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.content .left-column .item .year {
  margin-right: 1.5rem;
  min-width: 85px;
}

.content .education .title,
.content .work-experience .title,
.content .contact .title,
.content .skills .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.content .education .item .degree .name,
.content .item .year,
.content .work-experience .item .location {
  font-weight: lighter;
}

.content .work-experience .job-title {
  font-weight: bold;
}

.content .skills .category {
  margin-bottom: 1rem;
}
.content .skills .category > .name {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.content .skills .skill {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .skills .skill .subtitle,
.content .skills .proficiency,
.content .skills .framework {
  font-weight: lighter;
  font-size: 0.9rem;
}

.content .left-column {
  background-color: #f7fafc;
  flex: 2;
}

.content .right-column {
  background-color: #edf2f7;
  flex: 1;
}

.content .contact .information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .contact .information .social a {
  margin-left: 0.3rem;
}

.content .skills .skill .name {
  flex: 2;
}
.content .skills .skill .skill-level {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle {
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.circle.full {
  background-color: #2d3748;
}

.circle.empty {
  background-color: #cbd5e0;
}

.circle.half {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #2d3748;
  width: 0.5rem;
  margin-right: 0.5rem;
}

.circle.half::after {
  content: "";
  display: inline-block;
  background-color: #cbd5e0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 0.5rem;
  margin-left: 0.5rem;
  min-height: 1rem;
}

@media only screen and (max-width: 1024px) {
  body {
    width: auto;
  }
  .content {
    flex-direction: column;
  }
}
